/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/
/src/ISL/CrearchitexBundle/Resources/images/
/web/css/d19e01c_960_1.css
/web/css/7f116c3_part_1_7f116c3_2.css
/web/css/7f116c3_part_1_3525108_1.css
/web/css/7f116c3.css
/web/css/7f116c3_part_1_d19e01c_7.css
/web/css/3525108.css
/web/css/7f116c3_part_1_style_3.css
/web/css/7f116c3_part_1_7f116c3_part_1_style_3_5.css
/web/css/7f116c3_part_1_style_10.css
/web/css/deaa047_960_1.css
/web/css/7f116c3_part_1_d19e01c_style_2_9.css
/web/css/d19e01c.css
/web/css/7f116c3_part_1_d19e01c_960_1_8.css
/web/css/deaa047.css
/web/css/7f116c3_part_1_960_6.css
/web/css/7f116c3_part_1_7f116c3_part_1_960_2_4.css
/web/css/7f116c3_part_1_7f116c3_part_1_3525108_1_3.css
/web/css/d19e01c_style_2.css
/web/css/7f116c3_part_1_960_2.css