<h3>Derniers Tweets</h3>

<div class="footer_tweet">
    <ul>
        {% for tweet in tweets %}
            <li>
                <a href="https://twitter.com/jphNovitz" target="_blank">@jphNovitz </a>, le <a href="{{ tweet.link }}" target="_blank"> {{ tweet.date }}</a>
                <br />{{ tweet.text|nl2br }}
            </li>
        {% endfor %}
    </ul>
</div>


