.container_12 {
    width: 75%;
    max-width: 60rem;
    margin: auto;
}

.subtitle {
    background-color: #e7e7e7;
    color: #363636;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #d7d7d7;
}

.subtitle h1 {
    font-size: 22px;
    margin: 0;
    padding: 15px 0 25px 0;
}

h1 {
    font-size: 1.925rem;
}

h2 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1.1rem;
}

.container.multiple-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container.multiple-articles .num {
    position: relative;
    top: 3.2rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #cecece;
    color: #fff;
    width: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
}

#num-1:hover .num,
#num-2:hover .num,
#num-3:hover .num {
    background-color: #81b600;
    color: #fff;
}

.multiple-articles h2 {
    margin-left: 2rem;
    /*font-size: 1.5rem;*/
}

.multiple-articles p {
    margin-left: 2rem;
    font-size: 1rem;
}

/* HEADER */
.desktop-menu {
    display: none;
}

header, footer {
    background-color: #363636;
    color: #aaa;
    position: relative;
}

header p,
footer p,
footer ul li,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active
footer ul li a:link,
footer ul li a:visited,
footer ul li a:hover,
footer ul li a:active {
    color: #bbbbbb;
}

/* FOOTER */
footer h1, footer h2, footer h3 {
    background-color: inherit;
    color: #FFFFFF;
}

footer h3 {
    border-bottom: 1px solid rgba(187, 187, 187, .3);
}


footer p,
footer ul li a {
    font-size: .85rem;
}

footer p.footer_address:before {
    content: url("../images/address.png");
    vertical-align: middle;
    padding-right: .2rem;
}

footer p.footer_address .br {
    display: block;
    padding-left: 4.4rem;
    color: #bbbbbb;

}

footer p.footer_phone:before {
    content: url("../images/phone.png");
    vertical-align: middle;
    padding-right: .2rem;
}

footer p.footer_mail:before {
    content: url("../images/mail.png");
    vertical-align: middle;
}

section a:link,
section a:visited,
section a:hover,
section a:active,
footer p.footer_mail a:link,
footer p.footer_mail a:visited,
footer p.footer_mail a:hover,
footer p.footer_mail a:active,
footer .footer_tweet ul li a:link,
footer .footer_tweet ul li a:visited,
footer .footer_tweet ul li a:hover,
footer .footer_tweet ul li a:active
footer .copyr a:link,
footer .copyr a:visited,
footer .copyr a:hover,
footer .copyr a:active {
    background-color: inherit;
    color: #94c127;
    text-decoration: none;
    font-weight: bold;
}

.evid {
    padding: 0 1rem;
}

footer p.footer_address .title,
footer p.footer_phone .title,
footer p.footer_mail .title {
    background-color: inherit;
    color: #FFFFFF;
    font-weight: bold;
}

footer ul.footer_news {
    padding-left: 0;

}

footer .footer_tweet ul {
    padding-left: 15px;

}

footer ul.footer_news li,
footer .footer_tweet ul li {
    padding-left: .5rem;


}

footer ul.footer_news li a:link {
    text-decoration: none;
}

footer ul.footer_news li::marker,
footer .footer_tweet ul li::marker {
    content: url("../images/list_star.png");
}

footer .footer_tweet {
    max-height: 11rem;
    overflow-y: scroll;

}

footer .copyr {
    background-color: inherit;
    color: #bbbbbb;
    margin-top: 3rem;
    padding: 3rem 1rem 1rem 1rem;
    font-size: .75rem;
}


header .container .navigation {
    height: 2rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

header .logo {
    position: absolute;
    /*left: 2rem;*/
    bottom: -1rem;
}

header .logo img {
    height: 5.5rem;

}

/* decide to use negative margin not transfom/translate transform: translateY(-10rem)
    because translate does move the next element -> margin does */
header nav {
    background-color: #363636;
    display: flex;
    flex: 1;
    padding-bottom: 5rem;
    margin-top: -12rem;
    transition: margin-top .800s ease;
}

header nav.active {
    margin-top: 0;
}

header nav ul li {
    padding: .5rem 1rem;
    list-style-type: none;
    text-transform: uppercase;
    background-color: inherit;
    color: #ffffff;

}

header nav li a {
    text-decoration: none;
    padding: 1rem 10px;
    font-size: 1rem;
    background-color: inherit;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.hamburger {
    border-top: solid 3px #94c127;
    width: 25px;
    display: block;
    height: 0;
    border-bottom: solid 3px #94c127;
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 0;
    border-radius: 15px;
}

.hamburger:before {
    content: " ";
    border-top: solid 3px #aaa;
    width: 25px;
    display: block;
    height: 0;
    border-bottom: solid 3px #aaa;
    margin-top: -10px;
    margin-bottom: 2px;
    border-radius: 15px;
}

.hamburger:after {
    content: " ";
    border-top: solid 3px #aaa;
    width: 25px;
    display: block;
    height: 0;
    border-bottom: solid 3px #aaa;
    margin-top: 12px;
    margin-bottom: 0;
    border-radius: 15px;
}

/**/
.top {
    background-color: inherit;
    color: #505050;
    font-size: 22px;
    letter-spacing: -.6px;
    text-align: center;
    padding: 0;
    word-wrap: break-word;

}

.top .evid {
    background-color: #81B600;
    color: #fff;
    padding: 3px;
    border-radius: 8px;
}

/* SLIDER
 */

.slider-wrapper {
    width: 100%;
    margin: 1rem auto;
}

.nivoSlider {
    height: 10rem;
}

.bottom p {
    font-family: Tahoma;
    font-size: 12px;
    background-color: inherit;
    color: #505050;

}

.bottom img {
    border-radius: 8px;
    width: 95%;
/ / height: 200 px;
    margin: 0 auto;
    transition: all .2s ease-in;
    border: transparent 1px;

}

.bottom img:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
    overflow: auto;

}

/* Members page  */


.cite {
    border: solid 1.5px #d7d7d7;
    border-bottom: 0;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    width: 95%;
}

.push_cite_2 {
    position: absolute;
    background: #fff url(../images/testimonials_bg.png) no-repeat;
    left: 4px;
    bottom: -24.5px;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 12px;

}

.push_cite_1 {
    position: absolute;
    left: 64px;
    bottom: -20px;
    background: transparent url(../images/divider_bg.png) repeat-x;
    display: inline-block;
    width: 882px;
}

.team{
    margin: 4rem auto;
}

.member {
    font: 1rem Tahoma;
    height: 9rem;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    background-color: #ddd;
    border-radius: 8px;
    /*box-shadow: 0px 100px 10px -5px red; */
    box-shadow: 0 60px 80px 2px #fff, 0 12px 3px -8px #000;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.member img {
    margin: 5px 10px 5px 3px;
    width: 9rem;
    height: 6.15rem;

}

.member .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.member h2,
.member ul li{
    text-shadow: 1px 1px 1.5px rgba(135,134,134,.8);
}
.member h2{
    background-color: inherit;
    color: #81B600;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
}

.member ul{
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.member ul li:first-child:before{
    content: "";
}
.member ul li:before{
    content: "\00a0 ";
}
.member ul li{
    list-style-type: none;
    font-size: 1rem;
}
.member ul li:after {
    content: ' -';
}
.member ul li:last-child:after {
    content: '';
}

.member p{
    font-size: .9rem;
}


/* Projects */

.thumbnail {
    position: relative;
    height: 220px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
}

.thumbnail img {
    width: 100%;

}

.thumbnail .cache {
    width: 100%;
    height: 220px;
    background-color: #81B600;
    color: #fff;
    position: absolute;
    /*top: 164px;*/
    bottom: -6rem;
    left: 0;
    opacity: .8;
    transition: all .4s ease-in;

}

.thumbnail:hover .cache {
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    left: 0;
    opacity: .9;
    cursor: pointer;

}

.thumbnail .cache h2 {
    margin: 0;
    font-size: 1.125rem;
    font-family: Tahoma;
    background-image: url(../images/portfolio_smaller.png);
    background-repeat: no-repeat;
    background-position: 0 -5px;
    color: #FFFFFF;
    padding: 11px 5px 19px 60px;
    max-width: 200px;
    opacity: .7;
    word-wrap: break-word;
    text-transform: capitalize;


}

.thumbnail .cache p {
    max-width: 200px;
    word-wrap: break-word;
    font-family: Tahoma;
    font-size: .85rem;
    color: #fff;
    padding-left: 10px;
}


.zoom {
    background-color: #000;
    border: solid 1px transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1200ms ease-in;
    padding: 25px;
    text-align: center;


}

.zoom img {
    width: 60%;
    display: block;
    z-index: 10;
    opacity: 1;
    margin: 0 auto;


}

.zoom.active {
    opacity: .95;
    z-index: 10;

}

#zoom-close {
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 15px;
}


#zoom-close:link,
#zoom-close:hover {
    text-decoration: none;
}

.images .directionNav {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 5%;
    justify-content: space-between;
}

.images .directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.images:hover .directionNav a {
    opacity: 1;
}

.images a.nextNav {
    background-position: -30px 0;
    right: 15px;
}

.images a.prevNav {
    left: 15px;
}

/*  contact page*/
#contact h2{
    border-bottom: solid .8px #aaa;

}

#contact  #map{
    width: 100%;
    height: 40vh;
}

#contact form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

#contact .form-row,
#contact .form-text-area{
    display: flex;
    flex-direction: column;
    flex-basis: 5rem;
    justify-content: space-around;
}


#contact .form-row{
    height: 3rem;
}
#contact .form-text-area{
    height: 9rem;
}


#contact form button{
    width: 5rem;
    margin-top: 2rem;
}

#contact form .required:after{
    content: ' *';
    color: red;
}

#contact .info-address, .info-email, .info-phone{

    font-weight: bold;
    font-size: 1rem;
}
#contact .info-address:before{
    padding-right: .8rem;
    content: url("../images/address_contact.png");
}
#contact .info-phone:before{
    padding-right: .8rem;
    content: url("../images/phone_contact.png");
}
#contact .info-email:before{
    padding-right: .8rem;
    content: url("../images/mail_contact.png");
}

.alert.alert-success,
.alert.alert-danger{
    padding: 1rem;
    border-radius: 15px;
}
.alert.alert-success{
    background-color: #81B600;
    border: solid 2px #262d12;
    color: #262d12;
}
.alert.alert-danger{
    background-color: #fccfcf;
    border: solid 2px #8a0000;
    color: #8a0000;
}

@media (min-width: 640px) {

    /* SLIDER
 */
    .nivoSlider {
        height: 15rem;
    }


}

@media (min-width: 1024px) {


    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .container.multiple-articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /* HEADER */
    header .container .navigation {
        display: none;
    }

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    header nav {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0 !important;
        padding-bottom: 0;

    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
    }

    header nav ul li {
        padding: .5rem 1rem;

    }

    header nav li a {
        display: inline-block;
        text-decoration: none;
        margin: 0;
        padding: 15px 10px;
        font-size: 12px;
        border-top: solid 2px #363636;
        font-weight: bold;

    }


    header nav li a:hover {
        background-color: #3f3f3f;
        color: #fff;
        border-top: solid 2px #81b600;

    }


    header .logo {
        bottom: 0;
    }


    /* SLIDER
 */
    .nivoSlider {
        height: 25rem;
    }

    .thumbnail .cache {
        bottom: -9rem;
    }

    .thumbnail .cache h2 {
        font-size: 1.2rem;

    }

    .thumbnail .cache p {
        font-size: 1.1rem;
    }

    #zoom-close {
        color: #fff;
        font-weight: bolder;
        font-size: 2rem;
        position: absolute;
        right: 5rem;
    }


}
