{# menu admin #}
<ul id="main-nav">
    <li>
        <a href="#" title="Gestion du site" class="nav-top-item current">Gestion du site</a>
        <ul>
            <li><a href="?p=admin_projet" title="Gestion des projets">Gestion des projets</a></li>
            <li><a href="?p=admin_news" title="Gestion des news">Gestion des news</a></li>
            <li><a href="{{path('crearchitex_admin_equipe_liste')}}" title="Gestion de l'équipe">Gestion de l'équipe</a></li>
            <li><a href="?p=admin_fonction" title="Gestion des métiers">Gestion des métiers</a></li>
            <li><a href="?p=admin_user" title="Gestion des utilisateurs">Gestion des utilisateurs</a></li>
            <li><a href="?p=admin_user_password" title="Modification mot-de-passe">Modification mot-de-passe</a></li>
        </ul>
    </li>
</ul>
