{% extends 'Default/base.html.twig' %}

{% block body %}
    <section class="container_12 news">

        {% for item in news %}
            <div class="grid_12">
                <h2>
                    <a href=#"">
                        {{ item.title }}
                    </a>
                </h2>
                <div class="">
                    <p>
                        {{ item.content }}
                    </p>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}
    




