{% extends 'Default/base.html.twig' %}

{% block body %}

    <div class="subtitle">

        <div class="container_12">
            <h1>Nous joindre</h1>
        </div>
    </div>
    <div class="container"  id="contact">
        <div class="row">
            <div class="col-12-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2529.934279841172!2d5.516244815738532!3d50.646911679502914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e2!4m0!4m5!1s0x47c0fbc5cf643db9%3A0xcf83e826b8b2d9ba!2sChauss%C3%A9e%20Roosevelt%2C%204420%20Saint-Nicolas!3m2!1d50.6469117!2d5.5184334999999995!5e0!3m2!1sfr!2sbe!4v1608652374207!5m2!1sfr!2sbe"
                        width="800" height="600"
                        style="border:0;"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"
                        id="map">

                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-8-sm col-6">
                <h2>Une question ?</h2>

                
            </div>
            <div class="col-4-sm col-6">
                    <h2>Nos Coordonnées</h2>
            </div>
        </div>
    </div>
    contact



{% endblock %}
