body {
    background-color: #fff;
    color: #505050;
    font-family: Tahoma, 'Open Sans', sans-serif;
    font-size: 16px;
}



header{
    height: 55px;
    overflow: hidden;
    padding-bottom: 1px;
}

.largeur {
    background-color: #363636;
    color: #aaa;
    margin: 0px;
    padding: 0px;
    
}
/*  largeur affiche la ligne noire au dessus et en dessous de la page */

/*  .logo est le div qui contient le logo et .logo img est le logo*/
.logo {
    float: left;
    padding: 1px;
    height: 51px;
    
    
}

.logo img{
    margin: -5px 0 0 0;

}

/* menu flottant à droite avec la mise en forme du lien et le rollover */
header nav ul {
    float: right;
    margin:  0px;
    padding: 0px;
    border:  0px;
}
header nav li{
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
}
header  nav li a{
    display: inline-block;
    text-decoration: none;
    margin: 0px;
    padding: 15px 10px;
    font-size:12px;
    background-color: inherit;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    border-top: solid 2px #363636;
    font-weight: bold;

}


header nav li a:hover{
    background-color: #3f3f3f;
    color: #fff;
    border-top: solid 2px #81b600;

}


section{
    font-family: 'Open Sans';
    
}
.subtitle {
    background-color: #e7e7e7;
    color: #363636;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #d7d7d7;
}

.subtitle h1{
    font-size: 22px;
    margin: 0;
    padding: 15px 0 25px 0;
}




/* j'ai diviser la section en trois partie top middle et bottom'*/

/* haut de la section*/
.top{
    background-color: inherit;
    color: #505050;
    font-size: 22px;
    letter-spacing: -.6px;
    text-align: center;
    padding: 0px;
    word-wrap: break-word; 

}
.top .evid{
    background-color: #81B600;
    color: #fff;
    padding: 3px;
    border-radius: 8px;
}


/* centre de la section */

.middle, .bottom{
    font-family: Tahoma;
    border-top: solid .4px #E1E1E1;
    padding: 20px 0;
    
    overflow: auto;
    
        

}
.middle h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: -40px  0px 0px 40px;


}

.middle p{
    font-family: Tahoma;
    font-size: 12px;
    margin-left: 40px;
    background-color: inherit;
    color: #505050;
    word-wrap: break-word; 
}

/* .num = code qui affiche la bulle verte*/

.num{
    display:inline-block;
    border-radius: 50%;
    background-color: #81b600;
    color: #fff;
    width: 35px; 
    line-height: 35px;
    text-align: center;
    font-size: 16px;
}

/* partie basse de la section */

.bottom h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fff;
    position: absolute;
    margin: -32px 0px 0px   0px;


}
.bottom h2{
    font-family: tahoma;
    font-size: 12px;
    background-color: #fff;



}
.bottom p{
    font-family: Tahoma;
    font-size: 12px;
    background-color: inherit;
    color: #505050;

}
.bottom img{
    border-radius: 8px;
    width: 297px;
    height: 200px;
    margin: 0 auto ;
    transition: all .2s ease-in;
    border: transparent 1px;

}

.bottom img:hover{
    transform: scale(1.1);
    cursor:pointer;
    z-index: 1;
    overflow: auto;

}




/* footer bas de page  qui contient quatre div*/
footer{
    font-family: Tahoma;
    font-size: 12px;
    background-color: inherit;
    color: #bbb;
}
footer img{ 
    display: inline;}

footer h3{
    background-color:inherit ;
    color: #fff;
    display: block;
    border-bottom: solid 1px #484848;
}

footer p{

    background-color: inherit;
    color: #bbb;

}


footer img.lien {
    display: inline;

    opacity: .3;
}
footer img.lien:hover{
    opacity:1;
}

footer ul  {
    list-style-position: inside;
    padding: 0px;

}
footer ul li {
    list-style-image: url("../images/list_star.png");

}

/* décalage du retour a la lign dans l'adresse de contact*/
footer .ln{

    margin-left: 65px;
}


/* copyrbg et copyr affiche le petit bandeau avec le texte du copyright */
.copybg {
    display: block;
    background-color: #3f3f3f;

}


.copyr{
    background-color: #3f3f3f;
    display: block;
    width: 100%;
    text-align: right;
    padding: 12px 0; 
    margin: 12px 0;
}
.copyr .evid{
    background-color: inherit;
    color: #fff;
    font-weight: bold;

}

.cite{
    border: solid 1.5px #d7d7d7;
    border-bottom: 0px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    position: relative;
    width: 900px;

}

.push_cite_2{
    position: absolute;
    background: #fff  url(../images/testimonials_bg.png) no-repeat;
    left: 4px;
    bottom: -24.5px;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 12px;
    
}

.push_cite_1{
   position: absolute;
   left: 64px;
    bottom: -20px;
   background: transparent url(../images/divider_bg.png) repeat-x;
   display: inline-block;
   width: 882px;
   

    
}

/* anien a supprimer.push_cite_2{
    display: inline-block;
    margin-top: -20.5px;
    margin-left: 110px;
    margin-bottom: 20px;
    border-top-width: 8px;
    /*border-top: solid 1px #d7d7d7;
    float: left;
    width: 500px;
    padding: 5px;
}*/

.push_cite_2 a:link{
    background-color: inherit;
    color: #81B600;
    text-decoration: none;
}

.projet {
    position: relative;
}

.vignette{
    position: relative;
    width: 220px;
    height: 220px;
    border: solid 1px transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
}

.vignette img{
    width: 220px;
    height: 220px;
}

.vignette .cache{
    width: 220px;
    height: 220px;
    background-color: #81B600;
    color: #fff;
    position: absolute;
    top: 164px;
    left:0;
    opacity: .8;
    transition: all .4s ease-in;

}

.vignette:hover  .cache{
    position: absolute;
    top: 0;
    left:0;
    opacity: .9;
    cursor: pointer;
    
}
.vignette .cache h2{
    margin:0;
    font-size:18px;
    font-family: Tahoma;
    background-image: url(../images/portfolio_smaller.png);    
    background-repeat: no-repeat;
    background-position:0px -5px;
    padding: 11px 5px 19px 60px;
    max-width: 200px;
    opacity: .7;
    word-wrap: break-word;

}
.vignette .cache p{
    max-width: 200px;
    word-wrap: break-word;
    font-family: Tahoma;
    font-size: 14px;
    color:#fff;
    padding-left: 10px;
}



#contact h2{
    border-bottom: solid .8px #aaa;

}



.zoom{
    background-color: #000;
    border: solid 1px transparent; 
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1.2s ease-in;
    padding:25px;
    text-align:center;



}

.zoom img{
    width:600px;
    display: block;
    z-index: 10;
    opacity: 1;
    margin: 0 auto;


}
.zoom:target{
    display: block;
    opacity: .9;
    z-index: 10;

}

section h2{
    background-image: url(divider.bg.png);
    font-size: 18px;
    padding: 3px 0 10px 0;
}

label {
    display: block;
    background-color: inherit;
    color: #505050;
    margin-bottom: 5px;
}

input{
    width: 250px;
    padding: 5px;
    border: solid .3px #d2d2d2;
}


textarea {
    width: 460px;
    padding: 5px;
      border: solid .3px #d2d2d2;
}

.erreur{
    background-color: inherit;
    color: red;
}
.date{
    display: block;
    padding-left: 20px;
    background-image: url(../images/calendar_ico.png) ;
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 14px;
    margin-top: -20px;
}

.l_suite{
    display: inline-block;
    padding-right: 20px;
    background-image: url(../images/bullet_post_entry.png) ;
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 12px;
}

.l_suite a:link{
        background-color: inherit;
    color: #94c127;
}

.l_suite a:hover{
        background-color: inherit;
    color: grey;
}


aside .titre{
    background-color: #fafafa;
    display: block;
    padding: 5px;
    border: solid 1px #e7e7e7;
    cursor: pointer;
}

.menu_list {	
                width: 200px;
            }
            .menu_head {
                padding: 5px 10px;

                position: relative;
                margin:1px 0 10px 0;
                font-weight:bold;
                background: #fff url(../images/left.png) center right no-repeat;
            }
            .menu_body {
                display:none;
            }
            .menu_body a{
                display:block;
                color:#006699;
                /*background-color:#FFF;*/
                background: #FFF url("../images/list_star.png") no-repeat ;
                padding-left:20px;
                font-weight:normal;
                text-decoration:none;
            }
            .menu_body a:hover{
                color: #000000;
                text-decoration:underline;
            }
.equipe{
    font: 12px Tahoma ;
    height:100px;
    margin: 10px ;
    padding: 10px;
    background-color: #ddd;
    border-radius: 8px;
    /*box-shadow: 0px 100px 10px -5px red; */
    box-shadow: 0  60px 80px 2px #fff, 0 12px 3px -8px #000;

}

.equipe img{
    margin:5px 10px 5px 3px ;
    width: 100px;
    height: 80px;
    vertical-align: text-top;
    float: left;

}


.equipe .tit{
    text-shadow: 2px 2px 1px grey;
}
.equipe .memb{
    background-color: inherit;
    color: #81B600;
    font-weight: bold;
}

.equipe p{
    margin-top:0px;
}

.air{
    display: block;
    height: 25px;
}

.loupe{
    background-image: url(../images/search_ico.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-weight: lighter;
}

.slider-wrapper { 
    width: 80%; 
    margin: 10px auto;
}
.clear {
	clear:both;
}
figure {
	display: block;}

.survol {
    background-color: inherit;
    color: #94c127;
    
}
.survol:hover {
    background-color: inherit;
    color: grey;
    
}

@media screen and (max-width: 768px) {

    .container_12{
        width: 768px;
    }
     /*resize colonne grid*/
    .container_12 .grid_1 {width: 44px;}
    .container_12 .grid_2 {width: 108px;}
    .container_12 .grid_3 {width: 172px;}
    .container_12 .grid_4 {width: 236px;}
    .container_12 .grid_5 {width: 300px;}
    .container_12 .grid_6 {width: 364px;}
    .container_12 .grid_7 {width: 428px;}
    .container_12 .grid_8 {width: 492px;}
    .container_12 .grid_9 {width: 556px;}
    .container_12 .grid_10 {width: 620px;}
    .container_12 .grid_11 {width: 684px;}
    .container_12 .grid_12 {width: 748px;}

    .largeur {
        height: auto;
    }

    .logo{
        text-align: center;
        float: none;
        display: block;
    }

    .logo img{
        position: relative;
    }

    .top{
        font-size: 17px; 


    }
    .top .slider-wrapper {
        display: none;

    }

    .bottom img{
        display: none;
    }
    header nav ul {
        float: none;
    }
    header nav  {
        width: 50%;
        margin: 0 auto;
    }

    .twt {
        display: none;
    }
    
    .middle,bottom{
       font-size: 11px;
        
    }
    
    .tabl_col{
        margin: 0px;
    }
    .middle h1 {
        margin: -20px  0px 0px 75px;
        
    }
    
    .bottom{
       font-size: 11px;
       margin: 0 40px;
    }
    .num{
    display:inline-block;
    border-radius: 50%;
    background-color: #81b600;
    color: #fff;
    width: 25px; 
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    margin-left: 40px;
}
    
    .copyr{
    width: 400px;
    margin: 0  auto;
    font-size: .8em;
    text-align: center;
   
}

.mrge_tabl{
    margin-left: 57.3333px;
}

.subtitle h1{
    font-size: 19px;
    margin: 0;
    padding: 15px 0 25px 10px;
}

section{
    margin:0px;
    padding: 10px;

    
}
section p{
    max-width: 745px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.cite{
    max-width: 600px;
    
}

.equipe {
    font-size: 14px;
    word-wrap: break-word;
}

.vignette .cache h2{
    font-size: 16px;
    max-width: 100px;
    padding: 13px 5px 20px 60px;
  }
  
.vignette .cache p{
    max-width: 140px;
    font-size: 12px;
   
}

.tbl_news{
    max-width: 410px;
    margin: 0;
}
.tbl_news p {
    max-width: 410px;
}
.tbl_aside{
    max-width: 338px;
    margin: 0;
}
footer{
    font-size: 11px;
}
footer .ln{

    margin-left: 0px;
}

}

